/*CSS Geral*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/*CSS Da Pagina de Loading */
.loadingcustom{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.img-loading{
  display: flex;
  margin: auto;
  width: 300px;
  height: 300px;
}
.text-loading{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

/*CSS da Pagina do Menu*/
.menu-container{
  min-width: 900px;
  background-image: url('../images/cenario/start.png');
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  width: 100%;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
}
.title-game{
  margin: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
}
.img-game{
  width: 250px;
  display: flex;
  margin: auto;
}
.link-new-game{
  text-align: center;
  font-size: 38px;
  text-decoration: none;
  color: #e28111;
  cursor: pointer;
}
.link-new-game:hover {
  font-size: 42px;
  text-shadow: 2px 2px 10px  #ffffff;
}