#todo-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#todo-list tr, #todo-list tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

caption{
	text-align: center;
	grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#todo-list td, #todo-list th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#todo-list .todo-header {
	background: var(--color-green);  
}

#todo-list .todo-header th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#todo-list td {
	min-height: 180px;
    display: flex;
    flex-direction: column;
}

#todo-list .event-at {
    flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #D1E7DD;
	border: 1px solid #BADBCC;
	color: #0F5132;
	text-decoration: none;
}

#todo-list .event-before-deadline{
    flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #CFE2FF;
	border: 1px solid #B6D4FE;
	color: #084298;
	text-decoration: none;
}

#todo-list .event-during-deadline{
	flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #FFF3CD;
	border: 1px solid #FFECB5;
	color: #664D03;
	text-decoration: none;
}

#todo-list .event-after-deadline{
	flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #F8D7DA;
	border: 1px solid #F5C2C7;
	color: #842029;
	text-decoration: none;
}

#todo-list .event-card{
	min-height: 30px;
	max-height: 30px;
	margin: 3px 0 7px 0;
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#todo-list .event-link{
	color: var(--color-green);
	text-decoration: none;	
}