/* declare a 7 column grid on the table */
#todo-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#todo-list tr, #todo-list tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

caption{
	text-align: center;
	grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#todo-list td, #todo-list th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#todo-list .todo-header {
	background: var(--color-green);  
}


#todo-list .todo-header th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#todo-list td {
	min-height: 180px;
    display: flex;
    flex-direction: column;
}

#todo-list .event {
    flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	text-decoration: none;
}

#todo-list .event-deadline{
	flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #FFF3CD;
	border: 1px solid #FFECB5;
	color: #664D03;
	text-decoration: none;
}

#todo-list .event-desc{
	color: #666666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#todo-list .event-date{
	color: #009aaf;
	margin: 3px 0 7px 0;
}

#todo-list .event-link{
	color: var(--color-green);
	text-decoration: none;	
}