#page-employee-profile h2{
    padding-top: 20px;
}

#page-employee-profile h5{
    font-weight: bold;
}

#page-employee-profile .buttons-dashboard{
	padding-bottom: 40px;
}

#page-employee-profile .media{
	padding-bottom: 20px;
}